http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=0%2C0&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=0&key=4372eff77b8343cebfc843eb4da4ddc4
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '402'
      message: Payment Required
      explanation: No payment -- see charging schemes
    headers:
      status: HTTP/1.1 402 Payment Required
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '1560988800'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":0,"reset":1560988800},"results":[],"status":{"become_a_customer":"https://opencagedata.com/pricing","code":402,"message":"quota
        exceeded"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Wed, 19 Jun 2019
        19:52:24 GMT","created_unix":1560973944},"total_results":0}'
  recorded_at: 2019-06-19 19:52:25 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
