http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=0%2C0&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=0&key=<<<oc_403_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '403'
      message: Forbidden
      explanation: Request forbidden -- authorization will not help
    headers:
      status: HTTP/1.1 403 Forbidden
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"results":[],"status":{"code":403,"message":"disabled"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:27:44
        GMT","created_unix":1613420864},"total_results":0}'
  recorded_at: 2021-02-15 20:27:44 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
