http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=0%2C0&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=0&key=2e10e5e828262eb243ec0b54681d699a
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '403'
      message: Forbidden
      explanation: Request forbidden -- authorization will not help
    headers:
      status: HTTP/1.1 403 Forbidden
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"results":[],"status":{"code":403,"message":"suspended"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Wed, 19 Jun 2019
        19:52:25 GMT","created_unix":1560973945},"total_results":0}'
  recorded_at: 2019-06-19 19:52:26 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
