http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=280%2C0&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=0&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: HTTP/1.1 400 Bad Request
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '1851'
      x-ratelimit-reset: '1560988800'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":1851,"reset":1560988800},"results":[],"status":{"code":400,"message":"invalid
        coordinates"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Wed, 19 Jun 2019
        19:52:28 GMT","created_unix":1560973948},"total_results":0}'
  recorded_at: 2019-06-19 19:52:28 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
