http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Flensburg&limit=2&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":2,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Flensburg","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":54.8370717,"lng":9.5068117},"southwest":{"lat":54.7517986,"lng":9.3573409}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_category":"place","_type":"city","continent":"Europe","country":"Germany","country_code":"de","political_union":"European
        Union","state":"Schleswig-Holstein","state_code":"SH","town":"Flensburg"},"confidence":7,"formatted":"Flensburg,
        Schleswig-Holstein, Germany","geometry":{"lat":54.7833021,"lng":9.4333264}},{"bounds":{"northeast":{"lat":45.96263,"lng":-94.49328},"southwest":{"lat":45.933386,"lng":-94.566634}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_category":"place","_type":"village","continent":"North
        America","country":"United States","country_code":"us","county":"Morrison
        County","postcode":"56328","state":"Minnesota","state_code":"MN","village":"Flensburg"},"confidence":7,"formatted":"Flensburg,
        MN 56328, United States of America","geometry":{"lat":45.9552432,"lng":-94.5350089}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Fri, 26 Feb 2021 13:37:50
        GMT","created_unix":1614346670},"total_results":2}'
  recorded_at: 2021-02-26 13:37:52 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles&limit=3&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":3,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Los
        Angeles","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":34.337306,"lng":-118.1552947},"southwest":{"lat":33.659541,"lng":-118.6681776}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_category":"place","_type":"city","city":"Los
        Angeles","continent":"North America","country":"United States","country_code":"us","county":"Los
        Angeles County","state":"California","state_code":"CA"},"confidence":1,"formatted":"Los
        Angeles, California, United States of America","geometry":{"lat":34.0536909,"lng":-118.242766}},{"bounds":{"northeast":{"lat":34.8233121,"lng":-117.64627},"southwest":{"lat":32.7969287,"lng":-118.9517221}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_category":"place","_type":"county","continent":"North
        America","country":"United States","country_code":"us","county":"Los Angeles
        County","state":"California","state_code":"CA"},"confidence":1,"formatted":"Los
        Angeles County, California, United States of America","geometry":{"lat":34.3155072,"lng":-118.2096814}},{"bounds":{"northeast":{"lat":9.4022923,"lng":-75.2213977},"southwest":{"lat":9.3778767,"lng":-75.2594562}},"components":{"ISO_3166-1_alpha-2":"CO","ISO_3166-1_alpha-3":"COL","_category":"place","_type":"city","city":"Los
        Angeles","continent":"South America","country":"Colombia","country_code":"co","county":"Los
        Palmitos","region":"Caribe","state":"Sucre","state_code":"SUC","state_district":"Montes
        de Mar\u00eda"},"confidence":7,"formatted":"Los Angeles, Los Palmitos, Colombia","geometry":{"lat":9.3900639,"lng":-75.2389229}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Fri, 26 Feb 2021 13:37:52
        GMT","created_unix":1614346672},"total_results":3}'
  recorded_at: 2021-02-26 13:37:52 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
