http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Nantes&limit=10&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=0&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2427'
      x-ratelimit-reset: '1563494400'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2427,"reset":1563494400},"results":[{"bounds":{"northeast":{"lat":47.2958583,"lng":-1.4788443},"southwest":{"lat":47.1805856,"lng":-1.6418115}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_type":"city","city":"Nantes","continent":"Europe","country":"France","country_code":"fr","county":"Nantes","political_union":"European
        Union","state":"Pays de la Loire","state_code":"PDL","state_district":"Loire-Atlantique"},"confidence":6,"formatted":"Nantes,
        France","geometry":{"lat":47.2186371,"lng":-1.5541362}},{"bounds":{"northeast":{"lat":47.3532684,"lng":-1.1147605},"southwest":{"lat":46.8603369,"lng":-1.9393397}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_type":"county","continent":"Europe","country":"France","country_code":"fr","county":"Nantes","political_union":"European
        Union","state":"Pays de la Loire","state_code":"PDL","state_district":"Loire-Atlantique"},"confidence":1,"formatted":"Nantes,
        France","geometry":{"lat":47.1064143,"lng":-1.5318723}},{"bounds":{"northeast":{"lat":-22.477,"lng":-51.099},"southwest":{"lat":-22.723,"lng":-51.298}},"components":{"ISO_3166-1_alpha-2":"BR","ISO_3166-1_alpha-3":"BRA","_type":"village","city_district":"Nantes","continent":"South
        America","country":"Brazil","country_code":"br","county":"Regi\u00e3o Imediata
        de Presidente Prudente","state":"S\u00e3o Paulo","state_code":"SP","state_district":"Regi\u00e3o
        Intermedi\u00e1ria de Presidente Prudente","village":"Nantes"},"confidence":4,"formatted":"Nantes,
        Regi\u00e3o Imediata de Presidente Prudente, Brazil","geometry":{"lat":-22.603,"lng":-51.2103177}},{"bounds":{"northeast":{"lat":41.7357881,"lng":-7.4263702},"southwest":{"lat":41.6957881,"lng":-7.4663702}},"components":{"ISO_3166-1_alpha-2":"PT","ISO_3166-1_alpha-3":"PRT","_type":"village","continent":"Europe","country":"Portugal","country_code":"pt","county":"Chaves","hamlet":"Nantes","political_union":"European
        Union","postcode":"5400-298","state":"North","state_district":"Alto T\u00e2mega"},"confidence":7,"formatted":"5400-298
        Nantes, Portugal","geometry":{"lat":41.7157881,"lng":-7.4463702}},{"bounds":{"northeast":{"lat":42.4475163,"lng":-8.7810341},"southwest":{"lat":42.4075163,"lng":-8.8210341}},"components":{"ISO_3166-1_alpha-2":"ES","ISO_3166-1_alpha-3":"ESP","_type":"village","continent":"Europe","country":"Spain","country_code":"es","county":"Pontevedra","county_code":"PO","hamlet":"Nantes","political_union":"European
        Union","postcode":"36968","state":"Galicia","state_code":"GA"},"confidence":7,"formatted":"36968
        Nantes, Spain","geometry":{"lat":42.4275163,"lng":-8.8010341}},{"bounds":{"northeast":{"lat":45.7013274,"lng":-70.8932653},"southwest":{"lat":45.568547,"lng":-71.1093148}},"components":{"ISO_3166-1_alpha-2":"CA","ISO_3166-1_alpha-3":"CAN","_type":"city","city":"Nantes","continent":"North
        America","country":"Canada","country_code":"ca","county":"Le Granit","region":"Estrie","state":"Quebec","state_code":"QC"},"confidence":5,"formatted":"Nantes,
        QC, Canada","geometry":{"lat":45.6303741,"lng":-71.0208502}},{"bounds":{"northeast":{"lat":-33.9572639,"lng":18.5313264},"southwest":{"lat":-33.9621003,"lng":18.5232355}},"components":{"ISO_3166-1_alpha-2":"ZA","ISO_3166-1_alpha-3":"ZAF","_type":"park","city":"Cape
        Town","continent":"Africa","country":"RSA","country_code":"za","county":"City
        of Cape Town","park":"Nantes","postcode":"7764","state":"Western Cape","state_code":"WC","suburb":"Silvertown"},"confidence":9,"formatted":"Nantes,
        Silvertown, Cape Town, 7764, RSA","geometry":{"lat":-33.9596359,"lng":18.5272722}},{"bounds":{"northeast":{"lat":-34.8602854,"lng":-56.1683551},"southwest":{"lat":-34.8610425,"lng":-56.1707775}},"components":{"ISO_3166-1_alpha-2":"UY","ISO_3166-1_alpha-3":"URY","_type":"road","city":"Montevideo","continent":"South
        America","country":"Uruguay","country_code":"uy","neighbourhood":"Cerrito","postcode":"12000","road":"Nantes","road_type":"residential","state":"Montevideo","state_code":"MO","suburb":"Brazo
        Oriental"},"confidence":9,"formatted":"Nantes, 12000 Montevideo, Uruguay","geometry":{"lat":-34.8607099,"lng":-56.16955}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Thu, 18 Jul 2019 09:29:45
        GMT","created_unix":1563442185},"total_results":8}'
  recorded_at: 2019-07-18 09:29:55 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Hamburg&limit=10&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=0&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2425'
      x-ratelimit-reset:[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles&limit=10&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=0&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2423'
      x-ratelimit-[...]
[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/geojson?q=Nantes&limit=10&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=0&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2420'
      x-ratelimit-reset: '1563494400'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","features":[{"geometry":{"coordinates":[-1.5541362,47.2186371],"type":"Point"},"properties":{"bounds":{"northeast":{"lat":47.2958583,"lng":-1.4788443},"southwest":{"lat":47.1805856,"lng":-1.6418115}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_type":"city","city":"Nantes","continent":"Europe","country":"France","country_code":"fr","county":"Nantes","political_union":"European
        Union","state":"Pays de la Loire","state_code":"PDL","state_district":"Loire-Atlantique"},"confidence":6,"formatted":"Nantes,
        France"},"type":"Feature"},{"geometry":{"coord[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/geojson?q=Hamburg&limit=10&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=0&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2418'
      x-ratelimit-res[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/geojson?q=Los%20Angeles&limit=10&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=0&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2416'
      x-ratelim[...]
