http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Elbphilharmonie%20Hamburg&limit=1&no_annotations=1&roadinfo=1&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Elbphilharmonie
        Hamburg","roadinfo":1,"version":"v1"},"results":[{"annotations":{"roadinfo":{"drive_on":"right","road":"Platz
        der Deutschen Einheit","speed_in":"km/h"}},"bounds":{"northeast":{"lat":53.5416212,"lng":9.9849674},"southwest":{"lat":53.540877,"lng":9.9832434}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_category":"travel/tourism","_type":"attraction","attraction":"Elbe
        Philharmonic Hall","borough":"Hamburg-Mitte","city":"Hamburg","continent":"Europe","country":"Germany","country_code":"de","house_number":"1","neighbourhood":"Quartier
        Am Sandtorkai/Dalmannkai","political_union":"European Union","postcode":"20457","road":"Platz
        der Deutschen Einheit","state":"Hamburg","state_code":"HH","suburb":"HafenCity"},"confidence":9,"formatted":"Elbe
        Philharmonic Hall, Platz der Deutschen Einheit 1, 20457 Hamburg, Germany","geometry":{"lat":53.5412916,"lng":9.9842058}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Fri, 26 Feb 2021 13:37:58
        GMT","created_unix":1614346678},"total_results":1}'
  recorded_at: 2021-02-26 13:37:59 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles%20City%20Hall&limit=1&no_annotations=1&roadinfo=1&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Los
        Angeles City Hall","roadinfo":1,"version":"v1"},"results":[{"annotations":{"roadinfo":{"drive_on":"right","road":"North
        Spring Street","speed_in":"mph"}},"bounds":{"northeast":{"lat":34.0538267,"lng":-118.2428487},"southwest":{"lat":34.0537267,"lng":-118.2429487}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_category":"government","_type":"townhall","city":"Los
        Angeles","continent":"North America","country":"United States","country_code":"us","county":"Los
        Angeles County","house_number":"200","neighbourhood":"Civic Center","postcode":"90012","road":"North
        Spring Street","state":"California","state_code":"CA","suburb":"Downtown","townhall":"Los
        Angeles City Hall"},"confidence":9,"formatted":"Los Angeles City Hall, 200
        North Spring Street, Los Angeles, CA 90012, United States of America","geometry":{"lat":34.0537767,"lng":-118.2428987}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Fri, 26 Feb 2021 13:37:59
        GMT","created_unix":1614346679},"total_results":1}'
  recorded_at: 2021-02-26 13:37:59 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
