http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/geojson?q=Nantes&limit=10&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=0&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","features":[{"geometry":{"coordinates":[-1.5541362,47.2186371],"type":"Point"},"properties":{"bounds":{"northeast":{"lat":47.2958583,"lng":-1.4788443},"southwest":{"lat":47.1805856,"lng":-1.6418115}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_category":"place","_type":"city","city":"Nantes","continent":"Europe","country":"France","country_code":"fr","county":"Loire-Atlantique","municipality":"Nantes","political_union":"European
        Union","state":"Pays de la Loire","state_code":"PDL"},"confidence":6,"formatted":"Nantes,
        Loire-Atlantique, France"},"type":"Feature"},{"geometry":{"coordinates":[-51.2382255,-22.6191472],"type":"Point"},"properties":{"bounds":{"northeast":{"lat":-22.477,"lng":-51.099},"southwest":{"lat":-22.723,"lng":-51.298}},"components":{"ISO_3166-1_alpha-2":"BR","ISO_3166-1_alpha-3":"BRA","_category":"place","_type":"village","continent":"South
        America","country":"Brazil","country_code":"br","municipality":"Regi\u00e3o
        Imediata de Presidente Prudente","region":"Southeast Region","state":"S\u00e3o
        Paulo","state_code":"SP","state_district":"Regi\u00e3o Geogr\u00e1fica Intermedi\u00e1ria
        de Presidente Prudente","village":"Nantes"},"confidence":4,"formatted":"Nantes,
        Regi\u00e3o Geogr\u00e1fica Intermedi\u00e1ria de Presidente Prudente, Brazil"},"type":"Feature"},{"geometry":{"coordinates":[-71.0208502,45.6303741],"type":"Point"},"properties":{"bounds":{"northeast":{"lat":45.7013274,"lng":-70.8932653},"southwest":{"lat":45.568547,"lng":-71.1093148}},"components":{"ISO_3166-1_alpha-2":"CA","ISO_3166-1_alpha-3":"CAN","_category":"place","_type":"village","continent":"North
        America","country":"Canada","country_code":"ca","county":"Le Granit","region":"Estrie","state":"Quebec","state_code":"QC","village":"Nantes"},"confidence":5,"formatted":"Nantes,
        QC, Canada"},"type":"Feature"},{"geometry":{"coordinates":[-1.541423,47.2170954],"type":"Point"},"properties":{"bounds":{"northeast":{"lat":47.2220954,"lng":-1.536423},"southwest":{"lat":47.2120954,"lng":-1.546423}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_category":"transportation","_type":"railway","city":"Nantes","continent":"Europe","country":"France","country_code":"fr","county":"Loire-Atlantique","municipality":"Nantes","neighbourhood":"Pr\u00e9-Gauchet","political_union":"European
        Union","postcode":"44021","railway":"Nantes","road":"Voies 10-11","state":"Pays
        de la Loire","state_code":"PDL","suburb":"Malakoff - Saint-Donatien"},"confidence":9,"formatted":"Nantes,
        Voies 10-11, 44021 Nantes, France"},"type":"Feature"},{"geometry":{"coordinates":[-1.53187228794254,47.10641425],"type":"Point"},"properties":{"bounds":{"northeast":{"lat":47.3532684,"lng":-1.1147605},"southwest":{"lat":46.8603369,"lng":-1.9393397}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_category":"place","_type":"municipality","continent":"Europe","country":"France","country_code":"fr","county":"Loire-Atlantique","municipality":"Nantes","political_union":"European
        Union","state":"Pays de la Loire","state_code":"PDL"},"confidence":1,"formatted":"Nantes,
        Loire-Atlantique, France"},"type":"Feature"},{"geometry":{"coordinates":[-7.4463702,41.7157881],"type":"Point"},"properties":{"bounds":{"northeast":{"lat":41.7357881,"lng":-7.4263702},"southwest":{"lat":41.6957881,"lng":-7.4663702}},"components":{"ISO_3166-1_alpha-2":"PT","ISO_3166-1_alpha-3":"PRT","_category":"place","_type":"village","continent":"Europe","country":"Portugal","country_code":"pt","county":"Vila
        Real","county_code":"VRL","hamlet":"Nantes","political_union":"European Union","postcode":"5400-252","state":"North","state_district":"Alto
        T\u00e2mega","town":"Chaves","village":"Vilar de Nantes"},"confidence":7,"formatted":"5400-252
        Chaves, Portugal"},"type":"Feature"},{"geometry":{"coordinates":[-8.8010341,42.4275163],"type":"Point"},"properties":{"bounds":{"northeast":{"lat":42.4475163,"lng":-8.7810341},"southwest":{"lat":42.4075163,"lng":-8.8210341}},"components":{"ISO_3166-1_alpha-2":"ES","ISO_3166-1_alpha-3":"ESP","_category":"place","_type":"village","continent":"Europe","country":"Spain","country_code":"es","hamlet":"Nantes","municipality":"Sanxenxo","political_union":"European
        Union","postcode":"36969","province":"Pontevedra","state":"Galicia","state_code":"GA"},"confidence":7,"formatted":"36969
        Nantes, Spain"},"type":"Feature"},{"geometry":{"coordinates":[18.5272854541266,-33.9596359],"type":"Point"},"properties":{"bounds":{"northeast":{"lat":-33.9572639,"lng":18.5313264},"southwest":{"lat":-33.9621003,"lng":18.5232355}},"components":{"ISO_3166-1_alpha-2":"ZA","ISO_3166-1_alpha-3":"ZAF","_category":"unknown","_type":"leisure","city":"Cape
        Town","continent":"Africa","country":"South Africa","country_code":"za","county":"City
        of Cape Town","leisure":"Nantes","postcode":"7764","state":"Western Cape","state_code":"WC","suburb":"Cape
        Town Ward 49"},"confidence":9,"formatted":"Nantes, Cape Town Ward 49, Cape
        Town, 7764, South Africa"},"type":"Feature"},{"geometry":{"coordinates":[-56.1715938,-34.8608325],"type":"Point"},"properties":{"bounds":{"northeast":{"lat":-34.8608325,"lng":-56.1707775},"southwest":{"lat":-34.8610298,"lng":-56.171787}},"components":{"ISO_3166-1_alpha-2":"UY","ISO_3166-1_alpha-3":"URY","_category":"road","_type":"road","city":"Montevideo","continent":"South
        America","country":"Uruguay","country_code":"uy","postcode":"12000","road":"Nantes","road_type":"residential","state":"Montevideo","state_code":"MO","suburb":"Brazo
        Oriental"},"confidence":9,"formatted":"Nantes, 12000 Montevideo, Uruguay"},"type":"Feature"}],"licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{},"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Fri, 26 Feb 2021 13:53:27
        GMT","created_unix":1614347607},"total_results":9,"type":"FeatureCollection"}'
  recorded_at: 2021-02-26 13:53:30 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/geojson?q=Flensburg&limit=10&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=0&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/geojson?q=Los%20Angeles&limit=10&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=0&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      enco[...]
