http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Nantes&bounds=-72%2C45%2C-70%2C46&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"bounds":"-72,45,-70,46","format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Nantes","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":45.7013274,"lng":-70.8932653},"southwest":{"lat":45.568547,"lng":-71.1093148}},"components":{"ISO_3166-1_alpha-2":"CA","ISO_3166-1_alpha-3":"CAN","_category":"place","_type":"village","continent":"North
        America","country":"Canada","country_code":"ca","county":"Le Granit","region":"Estrie","state":"Quebec","state_code":"QC","village":"Nantes"},"confidence":5,"formatted":"Nantes,
        QC, Canada","geometry":{"lat":45.6303741,"lng":-71.0208502}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:31:05
        GMT","created_unix":1613421065},"total_results":1}'
  recorded_at: 2021-02-15 20:31:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Flensburg&bounds=-98%2C43%2C-90%2C49&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"bounds":"-98,43,-90,49","format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Flensburg","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":45.96263,"lng":-94.49328},"southwest":{"lat":45.933386,"lng":-94.566634}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_category":"place","_type":"village","continent":"North
        America","country":"United States","country_code":"us","county":"Morrison
        County","postcode":"56328","state":"Minnesota","state_code":"MN","village":"Flensburg"},"confidence":7,"formatted":"Flensburg,
        MN 56328, United States of America","geometry":{"lat":45.9552432,"lng":-94.5350089}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:31:07
        GMT","created_unix":1613421067},"total_results":1}'
  recorded_at: 2021-02-15 20:31:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles&bounds=-73%2C-38%2C-71%2C-36&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"bounds":"-73,-38,-71,-36","format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Los
        Angeles","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":-37.1785281,"lng":-72.03901},"southwest":{"lat":-37.6629358,"lng":-72.6836424}},"components":{"ISO_3166-1_alpha-2":"CL","ISO_3166-1_alpha-3":"CHL","_category":"place","_type":"city","city":"Los
        \u00c1ngeles","continent":"South America","country":"Chile","country_code":"cl","county":"Provincia
        de B\u00edo-B\u00edo","state":"Biob\u00edo Region"},"confidence":1,"formatted":"Los
        \u00c1ngeles, Provincia de B\u00edo-B\u00edo, Chile","geometry":{"lat":-37.4707455,"lng":-72.351686}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:31:08
        GMT","created_unix":1613421068},"total_results":1}'
  recorded_at: 2021-02-15 20:31:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Nantes&proximity=45.5%2C-71&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Flensburg&proximity=46%2C-95&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles&proximity=-37%2C-72&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    [...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Nantes&countrycode=ca&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"countrycode":"ca","format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Nantes","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":45.7013274,"lng":-70.8932653},"southwest":{"lat":45.568547,"lng":-71.1093148}},"components":{"ISO_3166-1_alpha-2":"CA","ISO_3166-1_alpha-3":"CAN","_category":"place","_type":"village","continent":"North
        America","country":"Canada","country_code":"ca","county":"Le Granit","region":"Estrie","state":"Quebec","state_code":"QC","village":"Nantes"},"confidence":5,"formatted":"Nantes,
        QC, Canada","geometry":{"lat":45.6303741,"lng":-71.0208502}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:31:13
        GMT","created_unix":1613421073},"total_results":1}'
  recorded_at: 2021-02-15 20:31:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Flensburg&countrycode=us&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
   [...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles&countrycode=cl&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Nantes&language=de&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"de","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Nantes","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":47.2958583,"lng":-1.4788443},"southwest":{"lat":47.1805856,"lng":-1.6418115}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_category":"place","_type":"city","city":"Nantes","continent":"Europe","country":"Frankreich","country_code":"fr","county":"Loire-Atlantique","municipality":"Nantes","political_union":"European
        Union","state":"Pays de la Loire","state_code":"PDL"},"confidence":6,"formatted":"Nantes,
        Loire-Atlantique, Frankreich","geometry":{"lat":47.2186371,"lng":-1.5541362}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:31:17
        GMT","created_unix":1613421077},"total_results":1}'
  recorded_at: 2021-02-15 20:31:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Flensburg&language=fr&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"fr","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Flensburg","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":54.8370717,"lng":9.5068117},"southwest":{"lat":54.7517986,"lng":9.3573409}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_category":"place","_type":"city","continent":"Europe","country":"Allemagne","country_code":"de","political_union":"European
        Union","state":"Schleswig-Holstein","state_code":"SH","town":"Flensbourg"},"confidence":7,"formatted":"Flensbourg,
        Schleswig-Holstein, Allemagne","geometry":{"lat":54.7833021,"lng":9.4333264}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:31:18
        GMT","created_unix":1613421078},"total_results":1}'
  recorded_at: 2021-02-15 20:31:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles&language=ja&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
  [...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Flensburg&limit=2&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UT[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles&limit=3&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Nantes&limit=1&min_confidence=7&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":7,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Nantes","roadinfo":0,"version":"v1"},"results":[],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:31:23
        GMT","created_unix":1613421083},"total_results":0}'
  recorded_at: 2021-02-15 20:31:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Flensburg&limit=1&min_confidence=9&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":9,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Flensburg","roadinfo":0,"version":"v1"},"results":[],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:31:24
        GMT","created_unix":1613421084},"total_results":0}'
  recorded_at: 2021-02-15 20:31:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles&limit=1&min_confidence=3&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":3,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Los
        Angeles","roadinfo":0,"version":"v1"},"results":[],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:31:26
        GMT","created_unix":1613421086},"total_results":0}'
  recorded_at: 2021-02-15 20:31:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Nantes&limit=1&no_annotations=0&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":0,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Nantes","roadinfo":0,"version":"v1"},"results":[{"annotations":{"DMS":{"lat":"47\u00b0
        13'' 7.09356'''' N","lng":"1\u00b0 33'' 14.89032'''' W"},"MGRS":"30TXT0947230474","Maidenhead":"IN97ff32ml","Mercator":{"x":-173005.65,"y":5946458.772},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?relation=59874#map=17/47.21864/-1.55414","note_url":"https://www.openstreetmap.org/note/new#map=17/47.21864/-1.55414&layers=N","url":"https://www.openstreetmap.org/?mlat=47.21864&mlon=-1.55414#map=17/47.21864/-1.55414"},"UN_M49":{"regions":{"EUROPE":"150","FR":"250","WESTERN_EUROPE":"155","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":33,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"&#x20AC;","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":0,"thousands_separator":"."},"flag":"\ud83c\uddeb\ud83c\uddf7","geohash":"gbquseuk6pbjcf41wyq0","qibla":113.27,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1613373120,"astronomical":1613366940,"civil":1613371200,"nautical":1613369100},"set":{"apparent":1613410200,"astronomical":1613416320,"civil":1613412060,"nautical":1613414220}},"timezone":{"name":"Europe/Paris","now_in_dst":0,"offset_sec":3600,"offset_string":"+0100","short_name":"CET"},"what3words":{"words":"nozzles.notices.includes"},"wikidata":"Q12191"},"bounds":{"northeast":{"lat":47.2958583,"lng":-1.4788443},"southwest":{"lat":47.1805856,"lng":-1.6418115}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_category":"place","_type":"city","city":"Nantes","continent":"Europe","country":"France","country_code":"fr","county":"Loire-Atlantique","municipality":"Nantes","political_union":"European
        Union","state":"Pays de la Loire","state_code":"PDL"},"confidence":6,"formatted":"Nantes,
        Loire-Atlantique, France","geometry":{"lat":47.2186371,"lng":-1.5541362}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:31:27
        GMT","created_unix":1613421087},"total_results":1}'
  recorded_at: 2021-02-15 20:31:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Elbphilharmonie%20Hamburg&limit=1&no_annotations=1&roadinfo=1&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Elbphilharmonie
        Hamburg","roadinfo":1,"version":"v1"},"results":[{"annotations":{"roadinfo":{"drive_on":"right","road":"Platz
        der Deutschen Einheit","speed_in":"km/h"}},"bounds":{"northeast":{"lat":53.5416212,"lng":9.9849674},"southwest":{"lat":53.540877,"lng":9.9832434}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_category":"travel/tourism","_type":"attraction","attraction":"Elbe
        Philharmonic Hall","borough":"Hamburg-Mitte","city":"Hamburg","continent":"Europe","country":"Germany","country_code":"de","house_number":"1","neighbourhood":"Quartier
        Am Sandtorkai/Dalmannkai","political_union":"European Union","postcode":"20457","road":"Platz
        der Deutschen Einheit","state":"Hamburg","state_code":"HH","suburb":"HafenCity"},"confidence":9,"formatted":"Elbe
        Philharmonic Hall, Platz der Deutschen Einheit 1, 20457 Hamburg, Germany","geometry":{"lat":53.5412916,"lng":9.9842058}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:31:28
        GMT","created_unix":1613421088},"total_results":1}'
  recorded_at: 2021-02-15 20:31:31 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles%20City%20Hall&limit=1&no_annotations=1&roadinfo=1&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
[...]
[...]
