http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Nantes&limit=1&min_confidence=7&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":7,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Nantes","roadinfo":0,"version":"v1"},"results":[],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Fri, 26 Feb 2021 13:37:53
        GMT","created_unix":1614346673},"total_results":0}'
  recorded_at: 2021-02-26 13:37:56 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Flensburg&limit=1&min_confidence=9&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":9,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Flensburg","roadinfo":0,"version":"v1"},"results":[],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Fri, 26 Feb 2021 13:37:54
        GMT","created_unix":1614346674},"total_results":0}'
  recorded_at: 2021-02-26 13:37:56 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles&limit=1&min_confidence=3&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":3,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"Los
        Angeles","roadinfo":0,"version":"v1"},"results":[],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Fri, 26 Feb 2021 13:37:55
        GMT","created_unix":1614346675},"total_results":0}'
  recorded_at: 2021-02-26 13:37:56 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
