http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Nantes&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2464'
      x-ratelimit-reset: '1563494400'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2464,"reset":1563494400},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"Nantes","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":47.2958583,"lng":-1.4788443},"southwest":{"lat":47.1805856,"lng":-1.6418115}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_type":"city","city":"Nantes","continent":"Europe","country":"France","country_code":"fr","county":"Nantes","political_union":"European
        Union","state":"Pays de la Loire","state_code":"PDL","state_district":"Loire-Atlantique"},"confidence":6,"formatted":"Nantes,
        France","geometry":{"lat":47.2186371,"lng":-1.5541362}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Thu, 18 Jul 2019 09:25:03
        GMT","created_unix":1563441903},"total_results":1}'
  recorded_at: 2019-07-18 09:25:28 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Hamburg&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2462'
      x-ratelimit-reset: '1563494400'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2462,"reset":1563494400},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"Hamburg","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":53.710341,"lng":10.160654},"southwest":{"lat":53.390341,"lng":9.840654}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_type":"city","city":"Hamburg","continent":"Europe","country":"Germany","country_code":"de","political_union":"European
        Union","postcode":"20095","state":"Hamburg","state_code":"HH"},"confidence":4,"formatted":"20095
        Hamburg, Germany","geometry":{"lat":53.550341,"lng":10.000654}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Thu, 18 Jul 2019 09:25:04
        GMT","created_unix":1563441904},"total_results":1}'
  recorded_at: 2019-07-18 09:25:28 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2460'
      x-ratelimit-r[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Nantes&bounds=-72%2C45%2C-70%2C46&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2458'
      x-ratelimit-reset: '1563494400'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2458,"reset":1563494400},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"bounds":"-72,45,-70,46","format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"Nantes","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":45.7013274,"lng":-70.8932653},"southwest":{"lat":45.568547,"lng":-71.1093148}},"components":{"ISO_3166-1_alpha-2":"CA","ISO_3166-1_alpha-3":"CAN","_type":"city","city":"Nantes","continent":"North
        America","country":"Canada","country_code":"ca","county":"Le Granit","region":"Estrie","state":"Quebec","state_code":"QC"},"confidence":5,"formatted":"Nantes,
        QC, Canada","geometry":{"lat":45.6303741,"lng":-71.0208502}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Thu, 18 Jul 2019 09:25:07
        GMT","created_unix":1563441907},"total_results":1}'
  recorded_at: 2019-07-18 09:25:28 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Hamburg&bounds=-80%2C42%2C-78%2C43&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2456[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles&bounds=-76%2C8%2C-74%2C10&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: [...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Nantes&countrycode=ca&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2452'
      x-ratelimit-reset: '1563494400'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2452,"reset":1563494400},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"countrycode":"ca","format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"Nantes","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":45.7013274,"lng":-70.8932653},"southwest":{"lat":45.568547,"lng":-71.1093148}},"components":{"ISO_3166-1_alpha-2":"CA","ISO_3166-1_alpha-3":"CAN","_type":"city","city":"Nantes","continent":"North
        America","country":"Canada","country_code":"ca","county":"Le Granit","region":"Estrie","state":"Quebec","state_code":"QC"},"confidence":5,"formatted":"Nantes,
        QC, Canada","geometry":{"lat":45.6303741,"lng":-71.0208502}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Thu, 18 Jul 2019 09:25:11
        GMT","created_unix":1563441911},"total_results":1}'
  recorded_at: 2019-07-18 09:25:28 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Hamburg&countrycode=us&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2450'
      x-ra[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles&countrycode=co&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2448'
    [...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Nantes&language=de&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2447'
      x-rateli[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Hamburg&language=fr&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2445'
      x-ratel[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles&language=es&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2443'
      x[...]
[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Nantes&limit=1&min_confidence=7&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2437'
      x-ratelimit-reset: '1563494400'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2437,"reset":1563494400},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":7,"no_annotations":1,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"Nantes","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":41.7357881,"lng":-7.4263702},"southwest":{"lat":41.6957881,"lng":-7.4663702}},"components":{"ISO_3166-1_alpha-2":"PT","ISO_3166-1_alpha-3":"PRT","_type":"village","continent":"Europe","country":"Portugal","country_code":"pt","county":"Chaves","hamlet":"Nantes","political_union":"European
        Union","postcode":"5400-298","state":"North","state_district":"Alto T\u00e2mega"},"confidence":7,"formatted":"5400-298
        Nantes, Portugal","geometry":{"lat":41.7157881,"lng":-7.4463702}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Thu, 18 Jul 2019 09:25:22
        GMT","created_unix":1563441922},"total_results":1}'
  recorded_at: 2019-07-18 09:25:28 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Hamburg&limit=1&min_confidence=5&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2435'
      x-[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Los%20Angeles&limit=1&min_confidence=3&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2433'
  [...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Nantes&limit=1&no_annotations=0&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2431'
      x-ratelimit-reset: '1563494400'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2431,"reset":1563494400},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":0,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"Nantes","roadinfo":0,"version":"v1"},"results":[{"annotations":{"DMS":{"lat":"47\u00b0
        13'' 7.09356'''' N","lng":"1\u00b0 33'' 14.89032'''' W"},"MGRS":"30TXT0947230474","Maidenhead":"IN97ff32ml","Mercator":{"x":-173005.65,"y":5946458.772},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?relation=59874#map=16/47.21864/-1.55414","url":"https://www.openstreetmap.org/?mlat=47.21864&mlon=-1.55414#map=16/47.21864/-1.55414"},"UN_M49":{"regions":{"EUROPE":"150","FR":"250","WESTERN_EUROPE":"155","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":33,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"&#x20AC;","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":1,"thousands_separator":"."},"flag":"\ud83c\uddeb\ud83c\uddf7","geohash":"gbquseuk6pbjcf41wyq0","qibla":113.27,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1563424140,"astronomical":1563414900,"civil":1563421860,"nautical":1563418860},"set":{"apparent":1563479760,"astronomical":1563488880,"civil":1563481980,"nautical":1563484980}},"timezone":{"name":"Europe/Paris","now_in_dst":1,"offset_sec":7200,"offset_string":"+0200","short_name":"CEST"},"wikidata":"Q12191"},"bounds":{"northeast":{"lat":47.2958583,"lng":-1.4788443},"southwest":{"lat":47.1805856,"lng":-1.6418115}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_type":"city","city":"Nantes","continent":"Europe","country":"France","country_code":"fr","county":"Nantes","political_union":"European
        Union","state":"Pays de la Loire","state_code":"PDL","state_district":"Loire-Atlantique"},"confidence":6,"formatted":"Nantes,
        France","geometry":{"lat":47.2186371,"lng":-1.5541362}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Thu, 18 Jul 2019 09:25:27
        GMT","created_unix":1563441927},"total_results":1}'
  recorded_at: 2019-07-18 09:25:28 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
