http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?placename=Paris&key=<<<oc_api_key>>>&countrycode=fr%2Cus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2490'
      x-ratelimit-reset: '1547164800'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"CC-BY-SA","url":"https://creativecommons.org/licenses/by-sa/3.0/"},{"name":"ODbL","url":"https://opendatacommons.org/licenses/odbl/summary/"}],"rate":{"limit":2500,"remaining":2490,"reset":1547164800},"results":[],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Thu, 10 Jan 2019
        12:31:07 GMT","created_unix":1547123467},"total_results":0}'
  recorded_at: 2019-01-10 12:31:07 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
