http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?placename=Paris&key=<<<oc_api_key>>>&countrycode=fr%2Cus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '1795'
      x-ratelimit-reset: '1560988800'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":1795,"reset":1560988800},"results":[],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Wed, 19 Jun 2019
        19:53:17 GMT","created_unix":1560973997},"total_results":0}'
  recorded_at: 2019-06-19 19:53:18 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
