http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?placename=irrelevant&key=<<<oc_200_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2499'
      x-ratelimit-reset: '1613433600'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2499,"reset":1613433600},"results":[{"annotations":{"DMS":{"lat":"51\u00b0
        57'' 9.57564'''' N","lng":"7\u00b0 37'' 56.90280'''' E"},"MGRS":"32UMC0602156656","Maidenhead":"JO31tw58vp","Mercator":{"x":849643.007,"y":6757899.137},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?way=125838041#map=16/51.95266/7.63247","note_url":"https://www.openstreetmap.org/note/new#map=16/51.95266/7.63247&layers=N","url":"https://www.openstreetmap.org/?mlat=51.95266&mlon=7.63247#map=16/51.95266/7.63247"},"UN_M49":{"regions":{"DE":"276","EUROPE":"150","WESTERN_EUROPE":"155","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":49,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"&#x20AC;","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":0,"thousands_separator":"."},"flag":"\ud83c\udde9\ud83c\uddea","geohash":"u1jrt9ty1t8rg3r5wttm","qibla":128.55,"roadinfo":{"drive_on":"right","road":"Friedrich-Ebert-Stra\u00dfe","speed_in":"km/h"},"sun":{"rise":{"apparent":1613371500,"astronomical":1613364720,"civil":1613369400,"nautical":1613367060},"set":{"apparent":1613407380,"astronomical":1613414160,"civil":1613409480,"nautical":1613411820}},"timezone":{"name":"Europe/Berlin","now_in_dst":0,"offset_sec":3600,"offset_string":"+0100","short_name":"CET"},"what3words":{"words":"episodes.mass.below"}},"bounds":{"northeast":{"lat":51.9528202,"lng":7.6325938},"southwest":{"lat":51.9525445,"lng":7.6323594}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_category":"building","_type":"building","city":"M\u00fcnster","city_district":"M\u00fcnster-Mitte","continent":"Europe","country":"Germany","country_code":"de","house_number":"7","neighbourhood":"Josef","political_union":"European
        Union","postcode":"48153","road":"Friedrich-Ebert-Stra\u00dfe","state":"North
        Rhine-Westphalia","state_code":"NW","suburb":"Innenstadtring"},"confidence":10,"formatted":"Friedrich-Ebert-Stra\u00dfe
        7, 48153 M\u00fcnster, Germany","geometry":{"lat":51.9526599,"lng":7.632473}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:27:53
        GMT","created_unix":1613420873},"total_results":1}'
  recorded_at: 2021-02-15 20:27:53 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
