http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Berlin&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=0&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '1791'
      x-ratelimit-reset: '1560988800'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":1791,"reset":1560988800},"results":[{"bounds":{"northeast":{"lat":52.6770365,"lng":13.5488599},"southwest":{"lat":52.3570365,"lng":13.2288599}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_type":"city","city":"Berlin","continent":"Europe","country":"Germany","country_code":"de","political_union":"European
        Union","postcode":"10117","state":"Berlin","state_code":"BE"},"confidence":4,"formatted":"10117
        Berlin, Germany","geometry":{"lat":52.5170365,"lng":13.3888599}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Wed, 19 Jun 2019
        19:53:23 GMT","created_unix":1560974003},"total_results":1}'
  recorded_at: 2019-06-19 19:53:25 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Berlin&bounds=-90%2C38%2C0%2C45&limit=10&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=0&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '1789'
      x-ratelimit-reset: '1560988800'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":1789,"reset":1560988800},"results":[{"bounds":{"northeast":{"lat":44.528436,"lng":-71.123642},"southwest":{"lat":44.445057,"lng":-71.397858}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_type":"city","city":"Berlin","continent":"North
        America","country":"USA","country_code":"us","county":"Co\u00f6s County","postcode":"03570","state":"New
        Hampshire","state_code":"NH"},"confidence":5,"formatted":"Berlin, NH 03570,
        United States of America","geometry":{"lat":44.469071,"lng":-71.185226}},{"bounds":{"northeast":{"lat":44.2719667,"lng":-72.5197921},"southwest":{"lat":44.1547824,"lng":-72.6836842}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_type":"city","city":"Berlin","continent":"North
        America","country":"USA","country_code":"us","county":"Washington County","state":"Vermont","state_code":"VT"},"confidence":6,"formatted":"Berlin,
        VT, United States of America","geometry":{"lat":44.2100759,"lng":-72.6034049}},{"bounds":{"northeast":{"lat":41.661488,"lng":-72.7056519},"southwest":{"lat":41.581488,"lng":-72.7856519}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_type":"city","continent":"North
        America","country":"USA","country_code":"us","county":"Hartford County","postcode":"06037","state":"Connecticut","state_code":"CT","town":"Berlin"},"confidence":7,"formatted":"Berlin,
        CT 06037, United States of America","geometry":{"lat":41.621488,"lng":-72.7456519}},{"bounds":{"northeast":{"lat":39.8091498,"lng":-74.907959},"southwest":{"lat":39.77601,"lng":-74.966113}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_type":"city","city":"Berlin","continent":"North
        America","country":"USA","country_code":"us","county":"Camden County","state":"New
        Jersey","state_code":"NJ"},"confidence":[...]
