http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=thiswillgetmenoreswhichisgood&language=pt-BR&limit=2&min_confidence=5&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=0&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '1793'
      x-ratelimit-reset: '1560988800'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":1793,"reset":1560988800},"results":[],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Wed, 19 Jun 2019
        19:53:22 GMT","created_unix":1560974002},"total_results":0}'
  recorded_at: 2019-06-19 19:53:23 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
