http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Berlin&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=0&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"results":[{"bounds":{"northeast":{"lat":52.6770365,"lng":13.5488599},"southwest":{"lat":52.3570365,"lng":13.2288599}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_category":"place","_type":"city","city":"Berlin","continent":"Europe","country":"Germany","country_code":"de","political_union":"European
        Union","postcode":"10117","state":"Berlin","state_code":"BE"},"confidence":4,"formatted":"Berlin,
        Germany","geometry":{"lat":52.5170365,"lng":13.3888599}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:27:58
        GMT","created_unix":1613420878},"total_results":1}'
  recorded_at: 2021-02-15 20:27:59 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Berlin&bounds=-90%2C38%2C0%2C45&limit=10&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=0&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"results":[{"bounds":{"northeast":{"lat":44.528436,"lng":-71.123642},"southwest":{"lat":44.445057,"lng":-71.397858}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_category":"place","_type":"city","city":"Berlin","continent":"North
        America","country":"United States","country_code":"us","county":"Coos County","postcode":"03570","state":"New
        Hampshire","state_code":"NH"},"confidence":5,"formatted":"Berlin, New Hampshire,
        United States of America","geometry":{"lat":44.469071,"lng":-71.185226}},{"bounds":{"northeast":{"lat":39.764932,"lng":-89.893165},"southwest":{"lat":39.750371,"lng":-89.912101}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_category":"place","_type":"village","continent":"North
        America","country":"United States","country_code":"us","county":"Sangamon
        County","state":"Illinois","state_code":"IL","village":"Berlin"},"confidence":8,"formatted":"Berlin,
        Sangamon County, Illinois, United States of America","geometry":{"lat":39.7589387,"lng":-89.9031635}},{"bounds":{"northeast":{"lat":41.6527197,"lng":-72.7111349},"southwest":{"lat":41.554197,"lng":-72.8402567}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_category":"place","_type":"city","continent":"North
        America","country":"United States","country_code":"us","county":"Hartford
        County","state":"Connecticut","state_code":"CT","town":"Berlin"},"confidence":6,"formatted":"Berlin,
        Connecticut, United States of America","geometry":{"lat":41.621488,"lng":-72.7456519}},{"bounds":{"northeast":{"lat":38.355184,"lng":-75.1879942},"southwest":{"lat":38.308406,"lng":-75.234794}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_category":"place","_type":"village","continent":"North
        America","country":"United States","country_code":"us","county":"Worcester
        County","state":"Maryland","state_cod[...]
