http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=47.21864%2C-1.554136&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2466'
      x-ratelimit-reset: '1563408000'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2466,"reset":1563408000},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"47.21864,-1.554136","roadinfo":0,"version":"v1"},"results":[{"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_type":"building","city":"Nantes","continent":"Europe","country":"France","country_code":"fr","house_number":"5","political_union":"European
        Union","postcode":"44000","state":"Pays de la Loire","state_code":"PDL","state_district":"Loire-Atlantique","street":"Rue
        Garde Dieu"},"confidence":10,"formatted":"5 Rue Garde Dieu, 44000 Nantes,
        France","geometry":{"lat":47.218891,"lng":-1.554403}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Wed, 17 Jul 2019 13:30:18
        GMT","created_unix":1563370218},"total_results":1}'
  recorded_at: 2019-07-17 13:30:36 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=53.55034%2C10.000654&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2464'
      x-ratelimit-reset: '1563408000'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2464,"reset":1563408000},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"53.55034,10.000654","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":53.5505733,"lng":10.0012761},"southwest":{"lat":53.5501368,"lng":10.0002381}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_type":"building","city":"Hamburg","city_district":"Hamburg-Mitte","continent":"Europe","country":"Germany","country_code":"de","house_number":"22","political_union":"European
        Union","postcode":"20095","road":"Jakobikirchhof","state":"Hamburg","state_code":"HH","suburb":"Hamburg-Altstadt","unknown":"Evangelisch-lutherische
        Hauptkirche St. Jacobi"},"confidence":10,"formatted":"Evangelisch-lutherische
        Hauptkirche St. Jacobi, Jakobikirchhof 22, 20095 Hamburg, Germany","geometry":{"lat":53.5503571,"lng":10.0007413}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Wed, 17 Jul 2019 13:30:20
        GMT","created_unix":1563370220},"total_results":1}'
  recorded_at: 2019-07-17 13:30:36 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=34.05369%2C-118.242767&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2462'
      x-ratelimit-reset: '1563408000'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2462,"reset":1563408000},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"34.05369,-118.242767","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":34.0543713,"lng":-118.2420052},"southwest":{"lat":34.0530141,"lng":-118.24353}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_type":"building","building":"Los
        Angeles City Hall","city":"Los Angeles","continent":"North America","country":"USA","country_code":"us","county":"Los
        Angeles County","house_number":"200","neighbourhood":"Civic Center","postcode":"90012","road":"North
        Spring Street","state":"California","state_code":"CA","suburb":"Little Tokyo
        Historic District"},"confidence":10,"formatted":"Los Angeles City Hall, 200
        North Spring Street, Los Angeles, CA 90012, United States of America","geometry":{"lat":34.053696,"lng":-118.2429212}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Wed, 17 Jul 2019 13:30:21
        GMT","created_unix":1563370221},"total_results":1}'
  recorded_at: 2019-07-17 13:30:36 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=47.21864%2C-1.554136&language=en&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2460'
[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=53.55034%2C10.000654&language=fr&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2458'
[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=34.05369%2C-118.242767&language=es&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2456[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=47.21864%2C-1.554136&limit=1&min_confidence=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=53.55034%2C10.000654&limit=1&min_confidence=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=34.05369%2C-118.242767&limit=1&min_confidence=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: [...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=25%2C36&limit=1&min_confidence=5&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2448'
      x-[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=25%2C36&limit=1&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2446'
      x-ratelimit-reset: '1563408000'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2446,"reset":1563408000},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"25,36","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":27.8973492,"lng":43.3300781},"southwest":{"lat":12.7903748,"lng":34.1455078}},"components":{"_type":"body_of_water","body_of_water":"Red
        Sea"},"confidence":1,"formatted":"Red Sea","geometry":{"lat":25.0,"lng":36.0}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Wed, 17 Jul 2019 13:30:33
        GMT","created_unix":1563370233},"total_results":1}'
  recorded_at: 2019-07-17 13:30:36 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=47.21864%2C-1.554136&limit=1&no_annotations=0&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2444'
      x-ratelimit-reset: '1563408000'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2444,"reset":1563408000},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":0,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"47.21864,-1.554136","roadinfo":0,"version":"v1"},"results":[{"annotations":{"DMS":{"lat":"47\u00b0
        13'' 8.00760'''' N","lng":"1\u00b0 33'' 15.85080'''' W"},"MGRS":"30TXT0945130502","Maidenhead":"IN97ff32lm","Mercator":{"x":-173035.35,"y":5946500.257},"OSM":{"url":"https://www.openstreetmap.org/?mlat=47.21889&mlon=-1.55440#map=16/47.21889/-1.55440"},"UN_M49":{"regions":{"EUROPE":"150","FR":"250","WESTERN_EUROPE":"155","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":33,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"&#x20AC;","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":1,"thousands_separator":"."},"flag":"\ud83c\uddeb\ud83c\uddf7","geohash":"gbquseujgz307sr5utv3","qibla":113.27,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1563337680,"astronomical":1563328320,"civil":1563335400,"nautical":1563332340},"set":{"apparent":1563393420,"astronomical":1563402660,"civil":1563395640,"nautical":1563398700}},"timezone":{"name":"Europe/Paris","now_in_dst":1,"offset_sec":7200,"offset_string":"+0200","short_name":"CEST"},"what3words":{"words":"husband.breath.massing"}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_type":"building","city":"Nantes","continent":"Europe","country":"France","country_code":"fr","house_number":"5","political_union":"European
        Union","postcode":"44000","state":"Pays de la Loire","state_code":"PDL","state_district":"Loire-Atlantique","street":"Rue
        Garde Dieu"},"confidence":10,"formatted":"5 Rue Garde Dieu, 44000 Nantes,
        France","geometry":{"lat":47.218891,"lng":-1.554403}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Wed, 17 Jul 2019 13:30:34
        GMT","created_unix":1563370234},"total_results":1}'
  recorded_at: 2019-07-17 13:30:36 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
