http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=25%2C36&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"25,36","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":27.8973492,"lng":43.3300781},"southwest":{"lat":12.7903748,"lng":34.1455078}},"components":{"_category":"natural/water","_type":"body_of_water","body_of_water":"Red
        Sea"},"confidence":1,"formatted":"Red Sea","geometry":{"lat":25.0,"lng":36.0}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Fri, 26 Feb 2021 17:00:10
        GMT","created_unix":1614358810},"total_results":1}'
  recorded_at: 2021-02-26 17:00:10 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
