http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=47.21864%2C-1.554136&limit=1&min_confidence=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":1,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"47.21864,-1.554136","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":47.2189524,"lng":-1.5534363},"southwest":{"lat":47.2177951,"lng":-1.5554196}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_category":"government","_type":"townhall","city":"Nantes","continent":"Europe","country":"France","country_code":"fr","county":"Loire-Atlantique","municipality":"Nantes","neighbourhood":"Cath\u00e9drale","political_union":"European
        Union","postcode":"44000","road":"Rue Saint-Vincent","state":"Pays de la Loire","state_code":"PDL","suburb":"Centre
        Ville","townhall":"H\u00f4tel de ville de Nantes"},"confidence":9,"formatted":"H\u00f4tel
        de ville de Nantes, Rue Saint-Vincent, 44000 Nantes, France","geometry":{"lat":47.2183802,"lng":-1.5543889}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Fri, 26 Feb 2021 14:05:39
        GMT","created_unix":1614348339},"total_results":1}'
  recorded_at: 2021-02-26 14:05:43 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=53.55034%2C10.000654&limit=1&min_confidence=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":1,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"53.55034,10.000654","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":53.5505733,"lng":10.0012761},"southwest":{"lat":53.5501368,"lng":10.0002381}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_category":"place_of_worship","_type":"place_of_worship","borough":"Hamburg-Mitte","city":"Hamburg","continent":"Europe","country":"Germany","country_code":"de","house_number":"22","place_of_worship":"Evangelisch-lutherische
        Hauptkirche St. Jacobi","political_union":"European Union","postcode":"20095","road":"Jakobikirchhof","state":"Hamburg","state_code":"HH","suburb":"Altstadt"},"confidence":9,"formatted":"Evangelisch-lutherische
        Hauptkirche St. Jacobi, Jakobikirchhof 22, 20095 Hamburg, Germany","geometry":{"lat":53.5503571,"lng":10.0007413}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Fri, 26 Feb 2021 14:05:40
        GMT","created_unix":1614348340},"total_results":1}'
  recorded_at: 2021-02-26 14:05:43 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=34.05369%2C-118.242767&limit=1&min_confidence=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":1,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"34.05369,-118.242767","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":34.0543713,"lng":-118.2420052},"southwest":{"lat":34.0530141,"lng":-118.24353}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_category":"building","_type":"building","building":"Los
        Angeles City Hall","city":"Los Angeles","continent":"North America","country":"United
        States","country_code":"us","county":"Los Angeles County","house_number":"200","neighbourhood":"Civic
        Center","postcode":"90012","road":"North Spring Street","state":"California","state_code":"CA","suburb":"Downtown"},"confidence":10,"formatted":"Los
        Angeles City Hall, 200 North Spring Street, Los Angeles, CA 90012, United
        States of America","geometry":{"lat":34.053696,"lng":-118.2429212}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Fri, 26 Feb 2021 14:05:41
        GMT","created_unix":1614348341},"total_results":1}'
  recorded_at: 2021-02-26 14:05:43 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=25%2C36&limit=1&min_confidence=5&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":5,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"25,36","roadinfo":0,"version":"v1"},"results":[],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Fri, 26 Feb 2021 14:05:43
        GMT","created_unix":1614348343},"total_results":0}'
  recorded_at: 2021-02-26 14:05:43 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
