http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=53.55034%2C10.000654&limit=1&no_annotations=1&roadinfo=1&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"53.55034,10.000654","roadinfo":1,"version":"v1"},"results":[{"annotations":{"roadinfo":{"drive_on":"right","maxspeed":50,"road":"Jakobikirchhof","speed_in":"km/h","surface":"sett"}},"bounds":{"northeast":{"lat":53.5506664,"lng":10.0011428},"southwest":{"lat":53.5500117,"lng":10.000136}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_category":"road","_type":"road","borough":"Hamburg-Mitte","city":"Hamburg","continent":"Europe","country":"Germany","country_code":"de","political_union":"European
        Union","postcode":"20095","road":"Jakobikirchhof","state":"Hamburg","state_code":"HH","suburb":"Altstadt"},"confidence":9,"formatted":"Jakobikirchhof,
        20095 Hamburg, Germany","geometry":{"lat":53.550609,"lng":10.0006242}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Fri, 26 Feb 2021 14:05:46
        GMT","created_unix":1614348346},"total_results":1}'
  recorded_at: 2021-02-26 14:05:48 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=34.05369%2C-118.242767&limit=1&no_annotations=1&roadinfo=1&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"34.05369,-118.242767","roadinfo":1,"version":"v1"},"results":[{"annotations":{"roadinfo":{"drive_on":"right","lanes":4,"oneway":"yes","road":"North
        Main Street","road_type":"primary","speed_in":"mph"}},"bounds":{"northeast":{"lat":34.0540751,"lng":-118.2416725},"southwest":{"lat":34.0522135,"lng":-118.243389}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_category":"road","_type":"road","city":"Los
        Angeles","continent":"North America","country":"United States","country_code":"us","county":"Los
        Angeles County","neighbourhood":"Civic Center","postcode":"90012","road":"North
        Main Street","road_type":"primary","state":"California","state_code":"CA","suburb":"Downtown"},"confidence":9,"formatted":"North
        Main Street, Los Angeles, CA 90012, United States of America","geometry":{"lat":34.0533229,"lng":-118.2423693}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Fri, 26 Feb 2021 14:05:48
        GMT","created_unix":1614348348},"total_results":1}'
  recorded_at: 2021-02-26 14:05:48 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
