http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=47.21864%2C-1.554136&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"47.21864,-1.554136","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":47.2189524,"lng":-1.5534363},"southwest":{"lat":47.2177951,"lng":-1.5554196}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_category":"government","_type":"townhall","city":"Nantes","continent":"Europe","country":"France","country_code":"fr","county":"Loire-Atlantique","municipality":"Nantes","neighbourhood":"Cath\u00e9drale","political_union":"European
        Union","postcode":"44000","road":"Rue Saint-Vincent","state":"Pays de la Loire","state_code":"PDL","suburb":"Centre
        Ville","townhall":"H\u00f4tel de ville de Nantes"},"confidence":9,"formatted":"H\u00f4tel
        de ville de Nantes, Rue Saint-Vincent, 44000 Nantes, France","geometry":{"lat":47.2183802,"lng":-1.5543889}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:28:07
        GMT","created_unix":1613420887},"total_results":1}'
  recorded_at: 2021-02-15 20:28:08 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
