http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=47.21864%2C-1.554136&language=en&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"47.21864,-1.554136","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":47.2189524,"lng":-1.5534363},"southwest":{"lat":47.2177951,"lng":-1.5554196}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_category":"government","_type":"townhall","city":"Nantes","continent":"Europe","country":"France","country_code":"fr","county":"Loire-Atlantique","municipality":"Nantes","neighbourhood":"Cath\u00e9drale","political_union":"European
        Union","postcode":"44000","road":"Rue Saint-Vincent","state":"Pays de la Loire","state_code":"PDL","suburb":"Centre
        Ville","townhall":"H\u00f4tel de ville de Nantes"},"confidence":9,"formatted":"H\u00f4tel
        de ville de Nantes, Rue Saint-Vincent, 44000 Nantes, France","geometry":{"lat":47.2183802,"lng":-1.5543889}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:28:12
        GMT","created_unix":1613420892},"total_results":1}'
  recorded_at: 2021-02-15 20:28:26 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=53.55034%2C10.000654&language=fr&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"fr","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"53.55034,10.000654","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":53.5505733,"lng":10.0012761},"southwest":{"lat":53.5501368,"lng":10.0002381}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_category":"travel/tourism","_type":"historic","borough":"Hamburg-Mitte","continent":"Europe","country":"Allemagne","country_code":"de","historic":"Evangelisch-lutherische
        Hauptkirche St. Jacobi","house_number":"22","political_union":"European Union","postcode":"20095","road":"Jakobikirchhof","state":"Hambourg","suburb":"Altstadt"},"confidence":9,"formatted":"Evangelisch-lutherische
        Hauptkirche St. Jacobi, Jakobikirchhof 22, 20095 Hambourg, Allemagne","geometry":{"lat":53.5503571,"lng":10.0007413}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:28:14
        GMT","created_unix":1613420894},"total_results":1}'
  recorded_at: 2021-02-15 20:28:26 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=34.05369%2C-118.242767&language=ja&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"ja","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"34.05369,-118.242767","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":34.0543713,"lng":-118.2420052},"southwest":{"lat":34.0530141,"lng":-118.24353}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_category":"building","_type":"building","building":"Los
        Angeles City Hall","city":"\u30ed\u30b5\u30f3\u30bc\u30eb\u30b9","continent":"North
        America","country":"\u30a2\u30e1\u30ea\u30ab\u5408\u8846\u56fd","country_code":"us","county":"Los
        Angeles County","house_number":"200","neighbourhood":"Civic Center","postcode":"90012","road":"North
        Spring Street","state":"\u30ab\u30ea\u30d5\u30a9\u30eb\u30cb\u30a2\u5dde","suburb":"Downtown"},"confidence":10,"formatted":"Los
        Angeles City Hall, 200 North Spring Street, \u30ed\u30b5\u30f3\u30bc\u30eb\u30b9,
        \u30ab\u30ea\u30d5\u30a9\u30eb\u30cb\u30a2\u5dde 90012, \u30a2\u30e1\u30ea\u30ab\u5408\u8846\u56fd","geometry":{"lat":34.053696,"lng":-118.2429212}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:28:15
        GMT","created_unix":1613420895},"total_results":1}'
  recorded_at: 2021-02-15 20:28:26 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=47.21864%2C-1.554136&limit=1&min_confidence=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=53.55034%2C10.000654&limit=1&min_confidence=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":1,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"53.55034,10.000654","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":53.5505733,"lng":10.0012761},"southwest":{"lat":53.5501368,"lng":10.0002381}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_category":"place_of_worship","_type":"place_of_worship","borough":"Hamburg-Mitte","city":"Hamburg","continent":"Europe","country":"Germany","country_code":"de","house_number":"22","place_of_worship":"Evangelisch-lutherische
        Hauptkirche St. Jacobi","political_union":"European Union","postcode":"20095","road":"Jakobikirchhof","state":"Hamburg","state_code":"HH","suburb":"Altstadt"},"confidence":9,"formatted":"Evangelisch-lutherische
        Hauptkirche St. Jacobi, Jakobikirchhof 22, 20095 Hamburg, Germany","geometry":{"lat":53.5503571,"lng":10.0007413}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:28:17
        GMT","created_unix":1613420897},"total_results":1}'
  recorded_at: 2021-02-15 20:28:26 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=34.05369%2C-118.242767&limit=1&min_confidence=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=25%2C36&limit=1&min_confidence=5&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":5,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"25,36","roadinfo":0,"version":"v1"},"results":[],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:28:20
        GMT","created_unix":1613420900},"total_results":0}'
  recorded_at: 2021-02-15 20:28:26 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=25%2C36&limit=1&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"25,36","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":27.8973492,"lng":43.3300781},"southwest":{"lat":12.7903748,"lng":34.1455078}},"components":{"_category":"natural/water","_type":"body_of_water","body_of_water":"Red
        Sea"},"confidence":1,"formatted":"Red Sea","geometry":{"lat":25.0,"lng":36.0}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:28:21
        GMT","created_unix":1613420901},"total_results":1}'
  recorded_at: 2021-02-15 20:28:26 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=47.21864%2C-1.554136&limit=1&no_annotations=0&roadinfo=0&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":0,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"47.21864,-1.554136","roadinfo":0,"version":"v1"},"results":[{"annotations":{"DMS":{"lat":"47\u00b0
        13'' 6.16872'''' N","lng":"1\u00b0 33'' 15.80004'''' W"},"MGRS":"30TXT0945330445","Maidenhead":"IN97ff32lj","Mercator":{"x":-173033.78,"y":5946416.806},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?way=142870516#map=16/47.21838/-1.55439","note_url":"https://www.openstreetmap.org/note/new#map=16/47.21838/-1.55439&layers=N","url":"https://www.openstreetmap.org/?mlat=47.21838&mlon=-1.55439#map=16/47.21838/-1.55439"},"UN_M49":{"regions":{"EUROPE":"150","FR":"250","WESTERN_EUROPE":"155","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":33,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"&#x20AC;","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":0,"thousands_separator":"."},"flag":"\ud83c\uddeb\ud83c\uddf7","geohash":"gbquseu5h059sk879jfr","qibla":113.27,"roadinfo":{"drive_on":"right","road":"Rue
        Saint-Vincent","speed_in":"km/h"},"sun":{"rise":{"apparent":1613373120,"astronomical":1613366940,"civil":1613371200,"nautical":1613369100},"set":{"apparent":1613410200,"astronomical":1613416320,"civil":1613412060,"nautical":1613414220}},"timezone":{"name":"Europe/Paris","now_in_dst":0,"offset_sec":3600,"offset_string":"+0100","short_name":"CET"},"what3words":{"words":"elastic.packet.rails"},"wikidata":"Q3146168"},"bounds":{"northeast":{"lat":47.2189524,"lng":-1.5534363},"southwest":{"lat":47.2177951,"lng":-1.5554196}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_category":"government","_type":"townhall","city":"Nantes","continent":"Europe","country":"France","country_code":"fr","county":"Loire-Atlantique","municipality":"Nantes","neighbourhood":"Cath\u00e9drale","political_union":"European
        Union","postcode":"44000","road":"Rue Saint-Vincent","state":"Pays de la Loire","state_code":"PDL","suburb":"Centre
        Ville","townhall":"H\u00f4tel de ville de Nantes"},"confidence":9,"formatted":"H\u00f4tel
        de ville de Nantes, Rue Saint-Vincent, 44000 Nantes, France","geometry":{"lat":47.2183802,"lng":-1.5543889}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:28:22
        GMT","created_unix":1613420902},"total_results":1}'
  recorded_at: 2021-02-15 20:28:26 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=53.55034%2C10.000654&limit=1&no_annotations=1&roadinfo=1&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"53.55034,10.000654","roadinfo":1,"version":"v1"},"results":[{"annotations":{"roadinfo":{"drive_on":"right","maxspeed":50,"road":"Jakobikirchhof","speed_in":"km/h","surface":"sett"}},"bounds":{"northeast":{"lat":53.5506664,"lng":10.0011428},"southwest":{"lat":53.5500117,"lng":10.000136}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_category":"road","_type":"road","borough":"Hamburg-Mitte","city":"Hamburg","continent":"Europe","country":"Germany","country_code":"de","political_union":"European
        Union","postcode":"20095","road":"Jakobikirchhof","state":"Hamburg","state_code":"HH","suburb":"Altstadt"},"confidence":9,"formatted":"Jakobikirchhof,
        20095 Hamburg, Germany","geometry":{"lat":53.550609,"lng":10.0006242}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:28:23
        GMT","created_unix":1613420903},"total_results":1}'
  recorded_at: 2021-02-15 20:28:26 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=34.05369%2C-118.242767&limit=1&no_annotations=1&roadinfo=1&no_dedupe=0&no_record=1&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":1,"min_confidence":0,"no_annotations":1,"no_dedupe":0,"no_record":1,"pretty":0,"proximity":"","query":"34.05369,-118.242767","roadinfo":1,"version":"v1"},"results":[{"annotations":{"roadinfo":{"drive_on":"right","lanes":4,"oneway":"yes","road":"North
        Main Street","road_type":"primary","speed_in":"mph"}},"bounds":{"northeast":{"lat":34.0540751,"lng":-118.2416725},"southwest":{"lat":34.0522135,"lng":-118.243389}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_category":"road","_type":"road","city":"Los
        Angeles","continent":"North America","country":"United States","country_code":"us","county":"Los
        Angeles County","neighbourhood":"Civic Center","postcode":"90012","road":"North
        Main Street","road_type":"primary","state":"California","state_code":"CA","suburb":"Downtown"},"confidence":9,"formatted":"North
        Main Street, Los Angeles, CA 90012, United States of America","geometry":{"lat":34.0533229,"lng":-118.2423693}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:28:25
        GMT","created_unix":1613420905},"total_results":1}'
  recorded_at: 2021-02-15 20:28:26 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
