http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Berlin&limit=10&no_annotations=0&roadinfo=0&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":10,"min_confidence":0,"no_annotations":0,"no_dedupe":0,"no_record":0,"pretty":0,"proximity":"","query":"Berlin","roadinfo":0,"version":"v1"},"results":[{"annotations":{"DMS":{"lat":"52\u00b0
        31'' 1.33140'''' N","lng":"13\u00b0 23'' 19.89564'''' E"},"MGRS":"33UUU9067619766","Maidenhead":"JO62qm64pc","Mercator":{"x":1490441.066,"y":6860227.862},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?node=240109189#map=16/52.51704/13.38886","note_url":"https://www.openstreetmap.org/note/new#map=16/52.51704/13.38886&layers=N","url":"https://www.openstreetmap.org/?mlat=52.51704&mlon=13.38886#map=16/52.51704/13.38886"},"UN_M49":{"regions":{"DE":"276","EUROPE":"150","WESTERN_EUROPE":"155","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":49,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"&#x20AC;","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":0,"thousands_separator":"."},"flag":"\ud83c\udde9\ud83c\uddea","geohash":"u33db8mmzj1t355u0c0j","qibla":136.66,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1613370180,"astronomical":1613363340,"civil":1613368080,"nautical":1613365680},"set":{"apparent":1613405940,"astronomical":1613412780,"civil":1613408040,"nautical":1613410440}},"timezone":{"name":"Europe/Berlin","now_in_dst":0,"offset_sec":3600,"offset_string":"+0100","short_name":"CET"},"what3words":{"words":"third.gurgled.such"},"wikidata":"Q64"},"bounds":{"northeast":{"lat":52.6770365,"lng":13.5488599},"southwest":{"lat":52.3570365,"lng":13.2288599}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_category":"place","_type":"city","city":"Berlin","continent":"Europe","country":"Germany","country_code":"de","political_union":"European
        Union","postcode":"10117","state":"Berlin","state_code":"BE"},"confidence":4,"formatted":"Berlin,
        Germany","geometry":{"lat":52.5170365,"lng":13.3888599}},{"annotations":{"DMS":{"lat":"44\u00b0
        28'' 8.65560'''' N","lng":"71\u00b0 11'' 6.81360'''' W"},"FIPS":{"county":"33007","state":"33"},"MGRS":"19TCK2618626296","Maidenhead":"FN44jl72sn","Mercator":{"x":-7924303.11,"y":5508377.717},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?relation=170184#map=16/44.46907/-71.18523","note_url":"https://www.openstreetmap.org/note/new#map=16/44.46907/-71.18523&layers=N","url":"https://www.openstreetmap.org/?mlat=44.46907&mlon=-71.18523#map=16/44.46907/-71.18523"},"UN_M49":{"regions":{"AMERICAS":"019","NORTHERN_AMERICA":"021","US":"840","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":1,"currency":{"alternate_symbols":["US$"],"decimal_mark":".","disambiguate_symbol":"US$","html_entity":"$","iso_code":"USD","iso_numeric":"840","name":"United
        States Dollar","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\uddfa\ud83c\uddf8","geohash":"drvkupke058m4sb6360c","qibla":60.36,"roadinfo":{"drive_on":"right","speed_in":"mph"},"sun":{"rise":{"apparent":1613389500,"astronomical":1613383680,"civil":1613387700,"nautical":1613385660},"set":{"apparent":1613427180,"astronomical":[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Berlin&bounds=-90%2C38%2C0%2C45&limit=10&no_annotations=0&roadinfo=0&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    b[...]
