http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Berlin&limit=10&no_annotations=0&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '1737'
      x-ratelimit-reset: '1560988800'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":1737,"reset":1560988800},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":10,"min_confidence":0,"no_annotations":0,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"Berlin","roadinfo":0,"version":"v1"},"results":[{"annotations":{"DMS":{"lat":"52\u00b0
        31'' 1.33140'''' N","lng":"13\u00b0 23'' 19.89564'''' E"},"MGRS":"33UUU9067619766","Maidenhead":"JO62qm64pc","Mercator":{"x":1490441.066,"y":6860227.862},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?node=240109189#map=17/52.51704/13.38886","url":"https://www.openstreetmap.org/?mlat=52.51704&mlon=13.38886#map=17/52.51704/13.38886"},"UN_M49":{"regions":{"DE":"276","EUROPE":"150","WESTERN_EUROPE":"155","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":49,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"&#x20AC;","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":1,"thousands_separator":"."},"flag":"\ud83c\udde9\ud83c\uddea","geohash":"u33db8mmzj1t355u0c0j","qibla":136.66,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1560912180,"astronomical":0,"civil":1560909180,"nautical":1560904200},"set":{"apparent":1560972780,"astronomical":0,"civil":1560975780,"nautical":1560980820}},"timezone":{"name":"Europe/Berlin","now_in_dst":1,"offset_sec":7200,"offset_string":"+0200","short_name":"CEST"},"what3words":{"words":"third.gurgled.such"},"wikidata":"Q64"},"bounds":{"northeast":{"lat":52.6770365,"lng":13.5488599},"southwest":{"lat":52.3570365,"lng":13.2288599}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_type":"city","city":"Berlin","continent":"Europe","country":"Germany","country_code":"de","political_union":"European
        Union","postcode":"10117","state":"Berlin","state_code":"BE"},"confidence":4,"formatted":"10117
        Berlin, Germany","geometry":{"lat":52.5170365,"lng":13.3888599}},{"annotations":{"DMS":{"lat":"52\u00b0
        30'' 24.96528'''' N","lng":"13\u00b0 23'' 50.93772'''' E"},"MGRS":"33UUU9123618630","Maidenhead":"JO62qm71qp","Mercator":{"x":1491400.95,"y":6858384.739},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?relation=62422#map=17/52.50693/13.39748","url":"https://www.openstreetmap.org/?mlat=52.50693&mlon=13.39748#map=17/52.50693/13.39748"},"UN_M49":{"regions":{"DE":"276","EUROPE":"150","WESTERN_EUROPE":"155","WOR[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Berlin&bounds=-90%2C38%2C0%2C45&limit=10&no_annotations=0&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '1735'
      x-ratelimit-reset: '1560988800'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":1735,"reset":1560988800},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"bounds":"-90,38,0,45","format":"json","key":"<<<oc_api_key>>>","language":"en","limit":10,"min_confidence":0,"no_annotations":0,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"Berlin","roadinfo":0,"version":"v1"},"results":[{"annotations":{"DMS":{"lat":"44\u00b0
        28'' 8.65560'''' N","lng":"71\u00b0 11'' 6.81360'''' W"},"FIPS":{"state":"33"},"MGRS":"19TCK2618626296","Maidenhead":"FN44jl72sn","Mercator":{"x":-7924303.11,"y":5508377.717},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?relation=170184#map=16/44.46907/-71.18523","url":"https://www.openstreetmap.org/?mlat=44.46907&mlon=-71.18523#map=16/44.46907/-71.18523"},"UN_M49":{"regions":{"AMERICAS":"019","NORTHERN_AMERICA":"021","US":"840","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":1,"currency":{"alternate_symbols":["US$"],"decimal_mark":".","disambiguate_symbol":"US$","html_entity":"$","iso_code":"USD","iso_numeric":"840","name":"United
        States Dollar","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"$","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\uddfa\ud83c\uddf8","geohash":"drvkupke058m4sb6360c","qibla":60.36,"roadinfo":{"drive_on":"right","speed_in":"mph"},"sun":{"rise":{"apparent":1560934740,"astronomical":1560925800,"civil":1560932520,"nautical":1560929580},"set":{"apparent":1560904320,"astronomical":1560913260,"civil":1560906540,"nautical":1560909480}},"timezone":{"name":"America/New_York","now_in_dst":1,"offset_sec":-14400,"offset_string":"-0400","short_name":"EDT"},"what3words":{"words":"strong.clean.crib"},"wikidata":"Q821244"},"bounds":{"northeast":{"lat":44.528436,"lng":-71.123642},"southwest":{"lat":44.445057,"lng":-71.397858}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_type":"city","city":"Berlin","continent":"North
        America","country":"USA","country_code":"us","county":"Co\u00f6s County","postcode":"03570","state":"New
        Hampshire","state_code":"NH"},"confidence":5,"formatted":"Berlin, NH 03570,
        United States of America","geometry":{"lat":44.469071,"lng":-71.185226}},{"annotations":{"DMS":{"lat":"44\u00b0
        12'' 36.27324'''' N","lng":"72\u00b0 36'' 12.25764'''' W"},"FIPS":{"county":"50023","state":"50"},"MGRS":"18TXP9146797998","Maidenhead":"FN34qf70ok","Mercator":{"x":-8082174.068,"y":5468204.6},"OSM":{"edit_url":"https://www.openstreetmap[...]
