http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Paris&language=fr&limit=2&min_confidence=5&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '1743'
      x-ratelimit-reset: '1560988800'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":1743,"reset":1560988800},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"format":"json","key":"<<<oc_api_key>>>","language":"fr","limit":2,"min_confidence":5,"no_annotations":1,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"Paris","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":48.902156,"lng":2.4697602},"southwest":{"lat":48.8155755,"lng":2.224122}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_type":"city","city":"Paris","continent":"Europe","country":"France","country_code":"fr","county":"Paris","political_union":"European
        Union","state":"\u00cele-de-France","state_code":"IDF","state_district":"Paris"},"confidence":6,"formatted":"Paris,
        France","geometry":{"lat":48.8566969,"lng":2.3514616}},{"bounds":{"northeast":{"lat":35.3065882,"lng":-93.6755169},"southwest":{"lat":35.2681485,"lng":-93.761965}},"components":{"ISO_3166-1_alpha-2":"US","ISO_3166-1_alpha-3":"USA","_type":"city","city":"Paris","continent":"North
        America","country":"\u00c9tats-Unis d''Am\u00e9rique","country_code":"us","county":"Logan
        County","postcode":"72855","state":"Arkansas","state_code":"AR"},"confidence":7,"formatted":"Paris,
        AR 72855, \u00c9tats-Unis d''Am\u00e9rique","geometry":{"lat":35.2920325,"lng":-93.7299173}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Wed, 19 Jun 2019
        19:53:56 GMT","created_unix":1560974036},"total_results":2}'
  recorded_at: 2019-06-19 19:53:58 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=44%2C44&language=pt-BR&limit=1&min_confidence=5&no_annotations=1&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: [...]
