http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Paris&language=fr&limit=2&min_confidence=5&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_200_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '2499'
      x-ratelimit-reset: '1613433600'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2499,"reset":1613433600},"request":{"abbrv":0,"add_request":1,"format":"json","key":"<<<oc_200_key>>>","language":"fr","limit":2,"min_confidence":5,"no_annotations":1,"no_dedupe":0,"no_record":0,"pretty":0,"proximity":"","query":"51.952659,7.632473","roadinfo":0,"version":"v1"},"results":[{"bounds":{"northeast":{"lat":51.9528202,"lng":7.6325938},"southwest":{"lat":51.9525445,"lng":7.6323594}},"components":{"ISO_3166-1_alpha-2":"DE","ISO_3166-1_alpha-3":"DEU","_category":"building","_type":"building","city":"M\u00fcnster","city_district":"M\u00fcnster-Mitte","continent":"Europe","country":"Allemagne","country_code":"de","house_number":"7","neighbourhood":"Josef","political_union":"European
        Union","postcode":"48153","road":"Friedrich-Ebert-Stra\u00dfe","state":"Rh\u00e9nanie-du-Nord-Westphalie","suburb":"Innenstadtring"},"confidence":10,"formatted":"Friedrich-Ebert-Stra\u00dfe
        7, 48153 M\u00fcnster, Allemagne","geometry":{"lat":51.9526599,"lng":7.632473}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/OpenCage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Mon, 15 Feb 2021 20:47:40
        GMT","created_unix":1613422060},"total_results":1}'
  recorded_at: 2021-02-15 20:47:42 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=44%2C44&language=pt-BR&limit=1&min_confidence=5&no_annotations=1&roadinfo=0&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_200_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-[...]
