http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Sarzeau&limit=10&no_annotations=0&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '1751'
      x-ratelimit-reset: '1560988800'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":1751,"reset":1560988800},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":10,"min_confidence":0,"no_annotations":0,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"Sarzeau","roadinfo":0,"version":"v1"},"results":[{"annotations":{"DMS":{"lat":"47\u00b0
        31'' 43.56984'''' N","lng":"2\u00b0 45'' 51.11892'''' W"},"MGRS":"30TWT1774963954","Maidenhead":"IN87om86hv","Mercator":{"x":-307709.303,"y":5997281.031},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?relation=959447#map=17/47.52877/-2.76420","url":"https://www.openstreetmap.org/?mlat=47.52877&mlon=-2.76420#map=17/47.52877/-2.76420"},"UN_M49":{"regions":{"EUROPE":"150","FR":"250","WESTERN_EUROPE":"155","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":33,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"&#x20AC;","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":1,"thousands_separator":"."},"flag":"\ud83c\uddeb\ud83c\uddf7","geohash":"gbqn3h75jkz3413tdw1f","qibla":112.34,"roadinfo":{"drive_on":"right","speed_in":"km/h"},"sun":{"rise":{"apparent":1560917580,"astronomical":1560906420,"civil":1560915180,"nautical":1560911760},"set":{"apparent":1560975120,"astronomical":1560986280,"civil":1560977520,"nautical":1560980940}},"timezone":{"name":"Europe/Paris","now_in_dst":1,"offset_sec":7200,"offset_string":"+0200","short_name":"CEST"},"what3words":{"words":"gasp.jiggle.creamier"},"wikidata":"Q128716"},"bounds":{"northeast":{"lat":47.5666788,"lng":-2.6631197},"southwest":{"lat":47.4840815,"lng":-2.853616}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_type":"city","city":"Sarzeau","continent":"Europe","country":"France","country_code":"fr","county":"Vannes","political_union":"European
        Union","postcode":"56370","state":"Brittany","state_district":"Morbihan"},"confidence":6,"formatted":"56370
        Sarzeau, France","geometry":{"lat":47.5287694,"lng":-2.7641997}},{"annotations":{"DMS":{"lat":"47\u00b0
        31'' 40.75680'''' N","lng":"2\u00b0 46'' 7.87116'''' W"},"MGRS":"30TWT1739963866","Maidenhead":"IN87om76rr","Mercator":{"x":-308227.317,"y":5997152.602},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?node=846574100#map=17/47.52799/-2.76885","url":"https://www.openstreetmap.org/?mlat=47.52799&mlon=-2.76885#map=17/47.52799/-2.76885"},"UN_M49":{"regions":{"EUROPE":"150","FR":"250","WESTERN_EUROPE":"155","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":33,"currency":{"alternate_symbols":[],"decimal_mark":",","html_entity":"&#x20AC;","iso_code":"EUR","iso_numeric":"978","name":"Euro","smallest_denomination":1,"subunit":"Cent","subunit_to_unit":100,"symbol":"\u20ac","symbol_first":1,"thousands_separator":"."},"flag":"\ud83c\uddeb\ud83c\uddf7","geohash":"gbqn2upy9517z9gpwc3y","qibla":112.34,"roadinfo":{"drive_on":"right","road":"Rue
        de la Poste","speed_in":"km/h"},"sun":{"rise":{"apparent":1560917580,"astronomical":1560906420,"civil":1560915180,"nautical":1560911760},"set":{"apparent":1560975120,"astronomical":1560986280,"civil":1560977520,"nautical":1560980940}},"timezone":{"name":"Europe/Paris","now_in_dst":1,"offset_sec":7200,"offset_string":"+0200","short_name":"CEST"},"what3words":{"words":"classics.catacomb.shop"}},"bounds":{"northeast":{"lat":47.528038,"lng":-2.7688031},"southwest":{"lat":47.527938,"lng":-2.7689031}},"components":{"ISO_3166-1_alpha-2":"FR","ISO_3166-1_alpha-3":"FRA","_type":"post_office","continent":"Europe","country":"France","country_code":"fr","county":"Vannes","political_union":"European
        Union","post_office":"Sarzeau","postcode":"56370","road":"Rue de la Poste","state":"Brittany","state_district":"Morbihan","suburb":"Kerjolis","village":"Sarzeau"},"confidence":9,"formatted":"Sarzeau,
        Rue de la Poste, 56370 Sarzeau, France","geometry":{"lat":47.527988,"lng":-2.7688531}}],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","twitter":"https://twitter.com/opencagedata"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Wed, 19 Jun 2019
        19:53:51 GMT","created_unix":1560974031},"total_results":2}'
  recorded_at: 2019-06-19 19:53:55 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Islington%2C%20London&limit=10&no_annotations=0&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '1749'
      x-ratelimit-reset: '1560988800'
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":1749,"reset":1560988800},"request":{"abbrv":0,"add_request":1,"autocomplete":0,"format":"json","key":"<<<oc_api_key>>>","language":"en","limit":10,"min_confidence":0,"no_annotations":0,"no_dedupe":0,"no_record":0,"only_nominatim":0,"pretty":0,"proximity":"","query":"Islington,
        London","roadinfo":0,"version":"v1"},"results":[{"annotations":{"DMS":{"lat":"51\u00b0
        32'' 18.34332'''' N","lng":"0\u00b0 5'' 59.65836'''' E"},"MGRS":"30UYC0111413689","Maidenhead":"IO91wm89af","Mercator":{"x":-11121.385,"y":6683614.668},"OSGB":{"easting":531873.107,"gridref":"TQ
        318 838","northing":183880.193},"OSM":{"edit_url":"https://www.openstreetmap.org/edit?node=27365020#map=17/51.53843/-0.09991","url":"https://www.openstreetmap.org/?mlat=51.53843&mlon=-0.09991#map=17/51.53843/-0.09991"},"UN_M49":{"regions":{"EUROPE":"150","GB":"826","NORTHERN_EUROPE":"154","WORLD":"001"},"statistical_groupings":["MEDC"]},"callingcode":44,"currency":{"alternate_symbols":[],"decimal_mark":".","html_entity":"&#x00A3;","iso_code":"GBP","iso_numeric":"826","name":"British
        Pound","smallest_denomination":1,"subunit":"Penny","subunit_to_unit":100,"symbol":"\u00a3","symbol_first":1,"thousands_separator":","},"flag":"\ud83c\uddec\ud83c\udde7","geohash":"gcpvjwr3053q7mywpn0e","qibla":119.05,"roadinfo":{"drive_on":"left","speed_in":"mph"},"sun":{"rise":{"apparent":1560915780,"astronomical":0,"civil":1560912900,"nautical":1560908400},"set":{"apparent":1560975660,"astronomical":0,"civil":1560978540,"nautical":1560983040}},"timezone":{"name":"Europe/London","now_in_dst":1,"offset_sec":3600,"offset_string":"+0100","short_name":"BST"},"what3words":{"words":"milk.strong.funded"},"wikidata":"Q125163"},"bounds":{"northeast":{"lat":51.5584287,"lng":-0.0799051},"southwest":{"lat":51.5184287,"lng":-0.1199051}},"components":{"ISO_3166-1_alpha-2":"GB","ISO_3166-1_alpha-3":"GBR","_type":"neighbourhood","city":"London","continent":"Europe","country":"United
        Kingdom","country_code":"gb","political_union":"European Union","postcode":"N1","state":"England","state_code":"ENG","state_district":"Greater
        London","suburb":"Islington"},"confidence":7,"formatted":"London N1, United
        Kingdom","geometry":{"lat":51.5384287,"lng":-0.0999051}},{"annotations":{"DMS":{"lat":"51\u00b0
        32'' 3.95628'''' N","lng":"0\u00b0 6'' 31.32288'''' E"},"MGRS":"30UYC0052213221","Maidenhead":"IO91wm68wg","Mercator":{"x":-12100.518,"y":6682901.311},"OSGB":{"easting":"531274.650","gridref":"TQ
        312 834","northing":183419.973},"OSM":{"edit_url":"https://www.opens[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=Triererstr%2015%2C%20Weimar%2099423%2C%20Deutschland&limit=10&no_annotations=0&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelim[...]
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?q=0%2C0&limit=1&no_annotations=0&no_dedupe=0&no_record=0&abbrv=0&add_request=1&key=<<<oc_api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-limit: '2500'
      x-ratelimit-remaining: '1745'
      x-ratelimit-reset: '1[...]
